.header__btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;
    border-bottom: 1px solid $colorturquoise;
    background-color: $colorwhite;
    width: 100%;
    & .navigation {
        list-style: none;
    }
    & .navigation-icon {
        align-items: center;
        display: flex;
        justify-content: center;
        /*width: 40px;
        height: 40px;
        background-color: $colorpink;
        border-radius: 50%;*/
        &:hover {
            transform: scale(1.2);
        }
    }
    .icon-3 {
        margin-right: 250px;
    }
}
